#about-me-section {
  #image-container {
    display: flex;

    #profile-image {
      height: 200px;
    }
  }

  #web-images {
    img {
      height: auto;
      width: 100px;
      -webkit-filter: grayscale(30%);
      filter: grayscale(30%);
    }
  }
}
