#about-me-section {
  #image-container {
    display: flex;

    #profile-image {
      height: 260px;
      border-radius: 8%;
    }
  }
  .emoji-top-paragraph {
    margin-bottom: 0;
  }

  #web-images {
    img {
      height: auto;
      width: 100px;
      -webkit-filter: grayscale(30%);
      filter: grayscale(30%);
    }
  }
}
