#about-me-section {
  #image-container {
    display: flex;

    #profile-image {
      height: 300px;
      border-radius: 8%;
    }
  }
  .emoji-top-paragraph {
    margin-bottom: 0;
  }

  #web-images {
    display: flex;
    app-circular-button, app-curriculum-dropdown
    {
      padding-right: 20px;
    }
  }
}
