<div class="row" id="about-me-section">
  <div class="col-lg-3 mb-lg-0 mb-4 justify-content-lg-center" id="image-container">
    <img src="assets/images/me.jpeg" alt="" id="profile-image">
  </div>
  <div class="col-lg-9">
    <h5 class="card-title">About me</h5>
    <h6 class="card-subtitle mb-2 text-muted">I am <b>Ignacio de la Vega</b></h6>
    <p class="emoji-top-paragraph">💻 🎮</p>
    <p class="card-text">Gameplay programmer, specializing in C#, Unity and Java. I shipped one 2D mobile game in
      Unity.</p>
    <p class="emoji-top-paragraph">🎓</p>
    <p class="card-text">I am currently studying abroad in Retulingen, Germany until February 2020. I study Software
      Engineering at Austral University in Buenos Aires, Argentina. I am currently on my eighth semester of a total of
      ten.</p>
    <p class="card-text">
      Experience programming with C#, Java, C++ Javascript, Typescript and Dart.</p>
    <div id="web-images">
      <a href="https://github.com/Nachodlv" target="_blank"><img class="col" src="assets/images/github.png" alt=""
                                                                 popover="Nachodlv"
                                                                 triggers="mouseenter:mouseleave"></a>
      <a href="https://www.linkedin.com/in/ignacio-d-41ba07100/" target="_blank">
        <img class="col" src="assets/images/linkedin.png" alt="">
      </a>
      <a href="mailto:ignacio.delavega@ing.austral.edu.ar" target="_blank">
        <img class="col" src="assets/images/email.png" alt="" popover="ignacio.delavega@ing.austral.edu.ar"
             triggers="mouseenter:mouseleave">
      </a>
    </div>
  </div>
</div>
