<div class="row" id="about-me-section">
  <div class="col-lg-3 mb-lg-0 mb-4 justify-content-lg-center" id="image-container">
    <img [src]="getGoogleDriveUrl('1TWZjFD9tM5P4w5zWc_rciI3wpoHdgf2z')" alt="" id="profile-image">
  </div>
  <div class="col-lg-9">
    <h5 class="card-title">About me</h5>
    <h6 class="card-subtitle mb-2">I am <b>Ignacio de la Vega</b></h6>
    <p class="emoji-top-paragraph">💻 🎮</p>
    <p class="card-text">I'm a Lead Game Programmer specialized in AI oriented towards results. Currently working on a
      AAA game & prev on Fornite Creative. I have vast knowledge in Unreal Engine & experience developing two shipped
      mobile games using Unity.</p>
    <p class="emoji-top-paragraph">🎓</p>
    <p class="card-text">Graduated as a Software Engineer in Austral University, Buenos Aires, Argentina. I studied
      abroad for six month in Germany between september 2019 and february 2020</p>
    <div id="web-images" class="row pl-3 pt-3 pt-sm-0">
      <app-circular-button [svg]="userIcon" [href]="curriculumUrl"
                           buttonPopover="Curriculum" [x]="2" [y]="2" [width]="20" [height]="20" text="CV"></app-circular-button>
      <app-circular-button [svg]="githubIcon" href="https://github.com/Nachodlv" buttonPopover="Nachodlv" [width]="33"
                           [height]="33" [x]="-2" [y]="-2" text="Github"></app-circular-button>
      <app-circular-button [svg]="linkedInIcon" href="https://www.linkedin.com/in/ignacio-d-41ba07100/"
                           buttonPopover="LinkedIn profile" [x]="-70" [y]="0" [width]="1200" [height]="1200" text="LinkedIn"></app-circular-button>
      <app-circular-button [svg]="envelopeIcon" href="mailto:ignacio.vega@nimblegiant.com"
                           buttonPopover="ignacio.vega@nimblegiant.com" [x]="1" [y]="1" [width]="22" [height]="22" text="Email"></app-circular-button>
    </div>
  </div>
</div>
