<div class="row" id="about-me-section">
  <div class="col-lg-3 mb-lg-0 mb-4 justify-content-lg-center" id="image-container">
    <img [src]="getGoogleDriveUrl('1TWZjFD9tM5P4w5zWc_rciI3wpoHdgf2z')" alt="" id="profile-image">
  </div>
  <div class="col-lg-9">
    <h5 class="card-title">About me</h5>
    <h6 class="card-subtitle mb-2">I am <b>Ignacio de la Vega</b></h6>
    <p class="emoji-top-paragraph">💻 🎮</p>
    <p class="card-text">I'm a Senior AI Programmer, currently working on
      <a href="https://store.steampowered.com/app/3734070/Project_D5/" target="_blank">Project D5</a> at Sumo Digital.
      Previously, I worked on a AAA extraction shooter and on Fortnite Creative.</p>
    <p class="emoji-top-paragraph">🎓</p>
    <p class="card-text">I graduated as a Software Engineer from Austral University, Buenos Aires, Argentina.
      I'm currently living in Sheffield, United Kingdom</p>
    <div class="mt-4 mb-4">
      <a class="btn btn-secondary" href="https://blog.ignaciodelavega.com/" target="_blank">Read my blog</a>
    </div>
    <div id="web-images" class="row pl-3 pt-3 pt-sm-0">
      <app-circular-button [svg]="userIcon" href="https://drive.google.com/file/d/1OLg4MRlVd7WYyY5V5dc6QzX9XKLgEbqf/view?usp=sharing"
                           buttonPopover="Curriculum" [x]="2" [y]="2" [width]="20" [height]="20" text="CV"></app-circular-button>
      <app-circular-button [svg]="githubIcon" href="https://github.com/Nachodlv" buttonPopover="Nachodlv" [width]="33"
                           [height]="33" [x]="-2" [y]="-2" text="Github"></app-circular-button>
      <app-circular-button [svg]="linkedInIcon" href="https://www.linkedin.com/in/ignacio-d-41ba07100/"
                           buttonPopover="LinkedIn profile" [x]="-70" [y]="0" [width]="1200" [height]="1200" text="LinkedIn"></app-circular-button>
      <app-circular-button [svg]="envelopeIcon" href="mailto:ignacio.vega@nimblegiant.com"
                           buttonPopover="ignacio.vega@nimblegiant.com" [x]="1" [y]="1" [width]="22" [height]="22" text="Email"></app-circular-button>
    </div>
  </div>
</div>
