<div id="project-group-filter">

  <div class="row m-0 inputs-row">
    <div class="form-check col-auto center-inputs" *ngFor="let groupCategory of groupCategories; let i = index">
      <input [id]="groupCategory.id" class="form-check-input" type="radio"
             (ngModelChange)="onGroupCategorySelected($event)"
             [ngModel]="groupCategorySelected" name="groupCategory" [value]="groupCategory">
      <label class="form-check-label" [for]="groupCategory.id">
        {{groupCategory.name}}
      </label>
    </div>
  </div>

  <div class="row m-0 inputs-row">
    <div class="form-check col-auto center-inputs" *ngFor="let projectGroup of groupCategorySelected.projectGroups; let i = index">
      <input [id]="projectGroup.name" class="form-check-input" type="checkbox"
             (ngModelChange)="onProjectGroupSelected($event, i)"
             [ngModel]="projectGroupsSelected[i]" name="groupCategory" [value]="i">
      <label class="form-check-label" [for]="projectGroup.name">
        {{projectGroup.name}}
      </label>
    </div>
  </div>
</div>
