<div id="project-detail">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{project.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <div class="col-lg-6">
      <app-media-carousel [media]="project.media" class="col-lg-6"></app-media-carousel>
      <div *ngIf="project.responsibilities" class="d-lg-inline d-none">
        <h5>Responsibilities: </h5>
        <ul>
          <li *ngFor="let text of project.responsibilities">{{text}}</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 ">
      <h3>{{project.title}}</h3>
      <p *ngFor="let paragraph of project.description">{{paragraph}}</p>
      <div *ngIf="project.responsibilities" class="d-lg-none d-inline">
        <h5>Responsibilities: </h5>
        <ul>
          <li *ngFor="let text of project.responsibilities">{{text}}</li>
        </ul>
      </div>
      <ng-container *ngIf="project.lessonsLearned">
        <h5>What I learned:</h5>
        <div class="col-auto technology-icon" *ngFor="let lesson of project.lessonsLearned">
          <ul>
            <li>{{lesson}}</li>
          </ul>
        </div>
      </ng-container>
      <div class="row">
        <h5 class="col-auto technologies-title">Technologies used:</h5>
        <div class="col-auto technology-icon" *ngFor="let technology of project.technologies">
          <app-technology [technology]="technology"></app-technology>
        </div>
      </div>
      <div>
        <h6>Duration: {{project.time.startDate | date: "dd/MM/yyyy"}}
          - {{project.time.finishDate | date: "dd/MM/yyyy" | customDate}} ({{project.time.timeItTook | duration}})</h6>
      </div>
      <ng-container *ngIf="project.links && project.links.length > 0">
        <h5>Links:</h5>
        <ul>
          <li *ngFor="let link of project.links">{{link.name}}: <a [href]="link.link" target="_blank">{{link.link}}</a>
          </li>
        </ul>
      </ng-container>
      <div class="row" *ngIf="project.store">
        <a *ngIf="project.store.ios" [href]="project.store.ios" target="_blank" class="col-sm-4 col-6"><img
          class="store-image"
          alt="Download it on the App Store"
          data-image-resolution="300w"
          src="assets/images/app-stores/ios.png">
        </a>
        <a *ngIf="project.store.google" [href]="project.store.google" target="_blank" class="col-sm-4 col-6"><img
          class="store-image"
          alt="Get it on Google Play"
          data-image-resolution="300w"
          src="assets/images/app-stores/google.png">
        </a>
      </div>
    </div>
  </div>
</div>



