<div id="project-detail">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{project.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <carousel class="col-lg-6" [interval]='0'>
      <slide *ngFor="let media of project?.media; let i = index">
        <div [ngSwitch]="media.type">
          <div *ngSwitchCase="mediaType.VIDEO" class="iframe-container">
            <iframe [src]="urlsSanitized[i]" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <div *ngSwitchCase="mediaType.IMAGE" class="image-container">
            <img [src]="media.source" alt="Image not found" class="carousel-image">
          </div>
          <div *ngIf="media.title" class="carousel-caption d-none d-md-block">
            <h3>{{media.title}}</h3>
            <p>{{media.description}}</p>
          </div>
        </div>
      </slide>
    </carousel>
    <div class="col-lg-6">
      <h3>{{project.title}}</h3>
      <ul>
        <li *ngFor="let text of project.description">{{text}}</li>
      </ul>
    </div>
  </div>
</div>



