<div id="project" (click)="openProjectDetails()">
  <div class="row mb-3">
    <h3 class="col title align-items-center">{{project.title}}</h3>
    <div *ngIf="project.technologies?.length > 0" class="technology-container row align-items-center ml-2 pr-2 pl-0 justify-content-center col-auto">
      <div class="technology-icon pt-0" *ngFor="let technology of project.technologies">
        <app-technology [technology]="technology"></app-technology>
      </div>
    </div>
  </div>
  <div class="project-image-container align-content-center">
    <img *ngIf="project.image.type == mediaType.IMAGE" [src]="project.image.source" alt="Image not found" class="project-image">
    <h1 *ngIf="project.image.type == mediaType.TEXT">
      {{project.image.title}}
    </h1>
  </div>
</div>
