<div id="body-app">
  <div class="row">
    <app-sidebar class="align-items-left col-sm-3 d-none d-md-block"></app-sidebar>
    <div class="col-sm-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div  id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <app-sections></app-sections>
        </div>
        <div id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          Profile
        </div>
        <div id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>
  </div>
</div>
