#side-bar-container {
  background-color: var(--secondary-background-color);
  padding: 30px;
  position: fixed;
  p {
    font-family: Ubuntu, serif;
  }
}


::ng-deep {
  .nav-pills .nav-link.active {
    background-color: var(--secondary-color);
  }
}
