.circular-button {
  .svg-container {
    background-color: var(--secondary-color);
    height: 60px;
    width: 60px;
    padding: 5px;
    border-radius: 50px;

    svg {
      fill: var(--primary-color);
      padding: 7px;
    }
  }

  p {
    text-align: center;
  }
}

