<div class="form-group">
  <input type="text" class="form-control" id="searchInput" placeholder="Search project by title or technology"
         [(ngModel)]="searchInput">
</div>
<div id="projects" class="row w-100">

  <div class="project-content col-lg-4 col-md-6" *ngFor="let project of projects | searchProject: searchInput; let i = index">
    <app-project *ngIf="showHiddenProjects || i < projectLimit" [project]="project"></app-project>
  </div>

  <div class="button-container" *ngIf="(projects | searchProject: searchInput).length >= projectLimit">
    <button *ngIf="!showHiddenProjects" class="btn btn-primary" (click)="showHiddenProjects = true">
      Show more
      <ng-container *ngTemplateOutlet="downArrow"></ng-container>
    </button>
    <button *ngIf="showHiddenProjects" class="btn btn-primary" (click)="showHiddenProjects = false">
      Show less
      <ng-container *ngTemplateOutlet="upArrow"></ng-container>
    </button>
  </div>


</div>


<ng-template #downArrow>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
          d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    <path fill-rule="evenodd"
          d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
  </svg>
</ng-template>

<ng-template #upArrow>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
          d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
    <path fill-rule="evenodd"
          d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>
</ng-template>
