/* You can add global styles to this file, and also import other style files */
a {
  color: #4471a2;
}

:root {
  --primary-color: white;
  --secondary-color: #4471a2;
  --background-color: #a7bcc3;
  --secondary-background-color: #ffffffb3;
  --text-color: #2d2d2d;
}
