<div class="section px-3 pb-4">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
      <app-about-me id="about-me-nav" role="tabpanel" aria-labelledby="about-me-nav"></app-about-me>
    </div>
  </div>
</div>
<!--TODO move section to a component-->
<div class="section px-3">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body row">
      <router-outlet id="projects-nav" aria-labelledby="projects-nav" role="tabpanel" class="w-100"></router-outlet>
    </div>
  </div>
</div>



