::ng-deep {
  .section {
    display: flex;
    padding: 0 30px 10px 30px;

    .card {
      display: flex;
      flex-direction: inherit;
      width: 100% !important;
      padding: 16px;
      background-color: var(--secondary-background-color);
      .card-title {
        font-weight: bold;
      }
      .card-body {
        padding-top: 0;
      }
    }
  }
}

::ng-deep {

  .nav-tabs {
    border-bottom: none;

    .nav-link.active {
      background-color: var(--secondary-background-color);
      color: var(--primary-color);
      border-color: transparent;
    }

    .nav-link {
      color: var(--primary-color);
    }
  }
}
