::ng-deep {
  .section {
    display: flex;
    padding: 0 15px 10px 10px;

    .card {
      display: flex;
      flex-direction: inherit;
      width: 100% !important;
      padding: 16px;
      background-color: #ffffffb3;
      .card-title {
        font-weight: bold;
      }

    }
  }
}
