::ng-deep {
  .section {
    display: flex;
    padding: 0 30px 10px 30px;

    .card {
      display: flex;
      flex-direction: inherit;
      width: 100% !important;
      padding: 16px;
      background-color: var(--secondary-background-color);
      .card-title {
        font-weight: bold;
      }

    }
  }
}
