<div class="section">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body row">
      <app-about-me id="about-me-nav" role="tabpanel" aria-labelledby="about-me-nav"></app-about-me>
    </div>
  </div>
</div>
<!--TODO move section to a component-->
<div class="section">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body row">
      <router-outlet id="projects-nav" aria-labelledby="projects-nav" role="tabpanel" class="w-100"></router-outlet>
<!--      <app-projects ></app-projects>-->
    </div>
  </div>
</div>
<!--<div class="section">-->
<!--  <div class="card shadow" style="width: 18rem;">-->
<!--    <div class="card-body row">-->
<!--      <app-working-experience class="w-100" id="work-experience-nav" role="tabpanel"-->
<!--                              aria-labelledby="work-experience-nav"></app-working-experience>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


