<div class="section px-3 pb-4">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
      <app-about-me id="about-me-nav" role="tabpanel" aria-labelledby="about-me-nav"></app-about-me>
    </div>
  </div>
</div>

<div class="section px-3">
  <tabset #tabs>
    <tab heading="Personal Projects" id="tab1" (selectTab)="onSelect($event, 0)">
    </tab>
    <tab heading="Professional Projects" (selectTab)="onSelect($event, 1)">
    </tab>
  </tabset>
</div>

<div class="section px-3">
  <div class="card shadow" style="width: 18rem;">
    <div class="card-body row">
      <div id="projects-nav" aria-labelledby="projects-nav" role="tabpanel" class="w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
